@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", serif;
}

body {
  background: #282b30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  width: 100vw;
}
.green{
  color: seagreen;
  font-size: 10px;
  animation: online 1s infinite ease;
}
nav{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  max-width: 500px;
  position: fixed;
  top:0;
  padding: 10px ;
  z-index: 1000;
  background: #282b30;
}
.bot-image{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.bot-image img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.chat-container {
  width: 100vw;
  max-width: 500px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  height: calc(100vh - 60px);
}

.chat-box {
  flex-grow: 1;
  overflow-y: auto; /* ✅ Enables scrolling */
  display: flex;
  flex-direction: column;
}
.chat-box::-webkit-scrollbar {
  display: none;
}
.message {
  max-width: 75%;
  margin: 10px;
  border-radius: 10px;
}
.message p,.message ol,.message ul{
  white-space: pre-wrap;
  margin: 1rem;
}
.message ul{
  list-style: none;
}
.message ol{
  padding: 10px;
}
.message ul li::before {
  content: '•  ';
  opacity: 50%;
}
.message ol li{
  list-style-type: number;
}
.message pre{
  margin: 1rem;
  font-family: "Fira Code", serif;
  background-color: #24262b;
  padding: 10px;
  border-radius: 5px;
}
.message img{
  height: 20px;
}
.message pre code{
  white-space: pre-wrap;
  font-family: "Fira Code", serif;
  color: aliceblue;
}
.user {
  background: #285dfd;
  color: white;
  align-self: flex-end;
}

.bot {
  background: #424549;
  align-self: flex-start;
  
}
.bot-load img{
height: 20px;
}
.chat-input {
  display: flex;
  margin: 10px;
  position: fixed;
  bottom: 0;
  max-width: 500px;
  border-radius: 50px;
  overflow: hidden;
  width: 95%;
}

.chat-input input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 100%;

}

.chat-input button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}


.chat-input i{
  font-size: 20px;
  rotate: -45deg;
}

@keyframes online{
  0%{
    color: green;
  }
  50%{
    color: rgb(49, 141, 89);
  }
  100%{
    color: green;
  }
}
